@model IEnumerable<DataRepository.WorksById>

@{
    ViewData["Title"] = "Show Titles";
}

<h1>List of titles</h1>

<div>
    <form asp-controller="Titles1" asp-action="ShowTitles">
        <p>
            Search Title: <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>
    </form>
</div>


<div>
    <h4>Books</h4>
    <hr />
    @foreach (var item in Model)
    {
        <dl class="row">
            <dt class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Title.TitleText)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Contributor.PurpleContributor.NamesBeforeKey) @Html.DisplayFor(modelItem => item.Contributor.PurpleContributor.KeyNames)
            </dd>
        </dl>

    }

</div>